/* Fichier CSS pour le thème sombre */

body.dark-theme {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.back-button {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #555;
}
